// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Nifty
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-solid.fa-code-branch
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/logo.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Nifty es un marketplace web de assets digitales. Cuenta con un sistema de registro, compra-venta y un sistema de subastas. 
                                | Desarrollado en .NET y con interfaz gráfica escrita en React.js
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Cerrar