// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Reinos Cenfotecos
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-solid.fa-code-branch
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/Reinos Cenfotecos.jpeg', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Reinos cenfotecos es un juego de estrategia. Desarrollado con Java(Springboot) y con interfaz gráfica web escrita en JavaScript.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Cerrar